body {
    color: white;
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

h1 {
    text-align: center;
}

h3,
li {
    text-align: justify;
    margin: 0px 25% 0px 25%;
}

a {
    display: inline-block;
    transition: 0.3s;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#links {
    text-decoration: none;
    padding: 0 5px;
    transition: all 0.9s;
    color: whitesmoke;
}