body {
  background-color: #000;
  color: whitesmoke;
}

h1 {
  text-align: center;
}

h3,
li {
  text-align: justify;
  margin: 0px 25% 0px 25%;
}

a {
  display: inline-block;
  transition: 0.3s;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#links {
  text-decoration: none;
  padding: 0 5px;
  transition: all 0.9s;
  color: #fff;
}
